:root {
	--animation-time: 10s;
}

.card-container {
	padding: 7em;
	background: linear-gradient(
		45deg,
		rgb(71, 69, 69),
		rgb(102, 84, 99),
		rgb(129, 59, 117),
		rgb(168, 43, 147),
		rgb(237, 6, 199)
	);

	background-size: 400%;
	background-position: left;
	animation: move-box 60s infinite alternate ease-in-out;
	/* background-color: pink; */
	width: 5em;
	/* align-items: center; */
	/* justify-content: center; */
	border-radius: 20px;
}

@keyframes move-box {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

@keyframes fade {
	0% {
		opacity: 100%;
		transform: translateY(0px);
	}
	34% {
		mix-blend-mode: normal;
	}
	35% {
		mix-blend-mode: color-dodge;
	}
	49% {
		opacity: 100%;
		transform: translateY(0px);
	}
	50% {
		opacity: 0%;
		transform: translateY(50px);
	}
	79% {
		mix-blend-mode: color-dodge;
	}
	80% {
		mix-blend-mode: normal;
	}

	99% {
		transform: translateY(50px);
		opacity: 0%;
	}
}
@keyframes scale {
	0% {
		opacity: 0;
		transform: scale(1) translateX(0);
	}
	49% {
		opacity: 0;
		transform: translateX(0) scale(1);
	}
	50% {
		opacity: 100%;
		transform: translateX(-0.85em) scale(1.3);
	}

	99% {
		transform: translateX(-0.85em) scale(1.3);
		opacity: 100%;
	}
}

.card {
	transform-style: preserve-3d;
	display: flex;
	flex-direction: row;
}

.card-animated-title {
	position: absolute;
	position: left;
	/* display: flex; */
	/* flex-direction: column; */
	/* opacity: 10%; */
	/* animation: fade infinite ease-in-out 2s; */
}

.card-topic {
	transform-style: preserve-3d;
	position: absolute;
	text-shadow: 0px 5px 8px black;
	/* background-color: red; */
	/* backface-visibility: hidden; */
}

.card-text1-conf,
.card-text2-conf,
.card-text3-conf,
.card-text1-topic,
.card-text2-topic,
.card-text3-topic {
	color: var(--theme--light--color-cta);
	letter-spacing: 5px !important;
	font-size: 4rem;
	font-family: "Outfit", sans-serif;
	font-weight: 900;
}

.card-text1-conf {
	animation: scale infinite ease-in-out var(--animation-time);
}

.card-text2-conf {
	animation: scale infinite ease-in-out var(--animation-time);
	animation-delay: 1.88s;
}
.card-text3-conf {
	animation: scale infinite ease-in-out var(--animation-time);
	animation-delay: 2.657s;
}

.card-text1-conf,
.card-text2-conf,
.card-text3-conf {
	mix-blend-mode: color-burn;
	/* letter-spacing: 8px; */
	text-shadow: 1px 1px 2px rgb(43, 42, 42), 0 0 1em rgb(33, 33, 36),
		0 0 0.2em rgb(63, 48, 25);
}

.card-text1-topic,
.card-text2-topic,
.card-text3-topic {
	width: fit-content;
	height: calc (fit-content + 4em);
	background-color: black;
}
.card-text1-topic {
	animation: fade infinite ease-in-out var(--animation-time);
	color: var(--theme--light--color-cta-alt);
	mix-blend-mode: difference;
}
.card-text2-topic {
	animation: fade infinite ease-in-out var(--animation-time);
	animation-delay: 1.88s;
	color: var(--theme--light--color-cta-alt);
}
.card-text3-topic {
	animation: fade infinite ease-in-out var(--animation-time);
	animation-delay: 2.657s;
	color: var(--theme--light--color-cta-alt);
}
