:root {
	--animation-time: 10s;
	--font-size-logo: 2em;
}

@media (max-width: 500px) {
	:root {
		--font-size-logo: 1em;
	}
}

.card-container {
	transform: translateX(-0.25em);
	width: 9.8em;
	height: 8em;
	margin-top: 1em;
	/* margin-right: 10em; */
	/* padding: 5em; */
	background: linear-gradient(
		45deg,
		rgb(153, 146, 91),
		rgb(119, 116, 92),
		rgb(119, 118, 111),
		rgb(65, 63, 65),
		rgb(64, 59, 64),
		rgb(89, 76, 91),
		rgb(134, 104, 138),
		rgb(141, 53, 173),
		rgb(196, 34, 182),
		rgb(220, 107, 7),
		rgb(255, 120, 1)
	);
	background-size: 600%;
	background-position: left;
	animation: a-gradient 50s infinite alternate ease-in-out;
	border: 4px solid rgba(0, 0, 0, 0.664);
	box-shadow: /* top+left white */ 1px -1px 2px rgba(255, 255, 255, 0.212),
		/* bottom-right white */ -1px 1px 2px rgba(255, 255, 255, 0.226);
	border-radius: 0px 30px 30px 0px;
}

.card-location-year {
	transform: translateY(0.2em) translateX(3.25em);
	mix-blend-mode: color-burn;
}

.card-abbreviation {
	transform: rotateZ(-1deg) translateY(-7.1em) translateX(1.5em);
}

.card-text1-conf,
.card-text2-conf,
.card-text3-conf,
.card-text1-topic,
.card-text2-topic,
.card-text3-topic {
	color: var(--theme--light--color-cta);
	letter-spacing: 5px !important;
	font-size: 2em;
	font-family: "Outfit", sans-serif;
	font-weight: 900;
}

.card-text1-conf {
	animation: a-scale infinite ease-in-out var(--animation-time);
}

.card-text2-conf {
	animation: a-scale infinite ease-in-out var(--animation-time);
	animation-delay: 1.88s;
}
.card-text3-conf {
	animation: a-scale infinite ease-in-out var(--animation-time);
	animation-delay: 2.657s;
}

.card-text1-conf,
.card-text2-conf,
.card-text3-conf {
	mix-blend-mode: color-burn;
	text-shadow: 1px 1px 2px rgb(21, 20, 20), 0 0 1em rgb(8, 8, 8),
		0 0 0.2em rgba(235, 230, 234, 0.316);
	color: rgb(255, 252, 219);
}

.card-text1-topic,
.card-text2-topic,
.card-text3-topic {
	width: fit-content;

	/* to fix the 1px gap  */
	margin: -1px;
	background-color: black;
	border-radius: 0px 20px 0px 0px;
}
.card-text1-topic {
	animation: a-fade infinite ease-in-out var(--animation-time);
	color: var(--theme--light--color-cta-alt);
	border-radius: 10px 10px 0px 0px !important;
}
.card-text2-topic {
	animation: a-fade infinite ease-in-out var(--animation-time);
	animation-delay: 1.88s;
	color: var(--theme--light--color-cta-alt);
}
.card-text3-topic {
	animation: a-fade infinite ease-in-out var(--animation-time);
	animation-delay: 2.657s;
	color: var(--theme--light--color-cta-alt);
	border-radius: 0px 10px 10px 10px !important;
}

@keyframes a-gradient {
	0% {
		background-position-x: left;
	}
	100% {
		background-position: right;
	}
}

@keyframes a-fade {
	0% {
		opacity: 100%;
		transform: translateY(0px);
	}

	49% {
		opacity: 100%;
		transform: translateY(0px);
	}
	50% {
		opacity: 0%;
		transform: translateY(50px);
	}

	99% {
		transform: translateY(50px);
		opacity: 0%;
	}
}
@keyframes a-scale {
	0% {
		opacity: 0;
		transform: scale(1) translateX(0);
	}
	49% {
		opacity: 0;
		transform: translateX(0) scale(1);
	}
	50% {
		opacity: 100%;
		transform: translateX(-0.85em) scale(1.3);
	}

	99% {
		transform: translateX(-0.85em) scale(1.3);
		opacity: 100%;
	}
}
