:root {
	--animation-time: 10s;
	--media-query--logo-font-size: 3rem;
	--logo-letter-spacing: 0.25rem;
	--media-query--logo-line-height: 2.25rem;
	--media-query--logo-placement: rotateZ(-1deg) translateY(-7.64rem)
		translateX(3.6rem);
}

.card-container {
	transform: translateX(-2rem);
	width: 9.8rem;
	width: 0rem;
	height: 8rem;
	margin-top: 1rem;
	padding: 1.75rem;
}

.card-location-year {
	transform: translateY(0.16rem) translateX(3.25rem);
}

.card-abbreviation {
	transform: var(--media-query--logo-placement);
}

.card-text1-conf,
.card-text2-conf,
.card-text3-conf,
.card-text1-topic,
.card-text2-topic,
.card-text3-topic {
	color: var(--theme--light--color-cta);
	letter-spacing: var(--logo-letter-spacing);
	font-size: var(--media-query--logo-font-size);
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	text-shadow: none;
	line-height: var(--media-query--logo-line-height);
	z-index: 10;
	padding: 4px;
}

.card-text1-conf {
	animation: a-scale infinite ease-in-out var(--animation-time);
}

.card-text2-conf {
	animation: a-scale infinite ease-in-out var(--animation-time);
	animation-delay: 1.88s;
}
.card-text3-conf {
	animation: a-scale infinite ease-in-out var(--animation-time);
	animation-delay: 2.657s;
}

.card-text1-conf,
.card-text2-conf,
.card-text3-conf {
	mix-blend-mode: color-burn;
	text-shadow: 1px 1px 2px rgb(21, 20, 20), 0 0 1em rgb(8, 8, 8),
		0 0 0.2em rgba(235, 230, 234, 0.316);
	color: var(--theme--light--color-cta-alt);
	height: 100%;
	width: 100%;
}

.card-text1-topic,
.card-text2-topic,
.card-text3-topic {
	width: fit-content;

	/* to fix the 1px gap  */
	margin: -1px;
	background-color: black;
	border-radius: 0px 20px 0px 0px;
}
.card-text1-topic {
	animation: a-fade infinite ease-in-out var(--animation-time);
	color: var(--theme--light--color-cta-alt);
	border-radius: 10px 10px 0px 0px !important;
}
.card-text2-topic {
	animation: a-fade infinite ease-in-out var(--animation-time);
	animation-delay: 1.88s;
	color: var(--theme--light--color-cta-alt);
}
.card-text3-topic {
	animation: a-fade infinite ease-in-out var(--animation-time);
	animation-delay: 2.657s;
	color: var(--theme--light--color-cta-alt);
	border-radius: 0px 10px 10px 10px !important;
}

@keyframes a-gradient {
	0% {
		background-position-x: left;
	}
	100% {
		background-position: right;
	}
}

@keyframes a-fade {
	0% {
		opacity: 100%;
		transform: translateY(0rem);
	}

	49% {
		opacity: 100%;
		transform: translateY(0rem);
	}
	50% {
		opacity: 0%;
		transform: translateY(0.2rem);
	}

	99% {
		transform: translateY(0.2rem);
		opacity: 0%;
	}
}
@keyframes a-scale {
	0% {
		opacity: 0;
		transform: scale(1rem) translateX(0rem);
	}
	49% {
		opacity: 0;
		transform: translateX(0rem) scale(1);
	}
	50% {
		opacity: 100%;
		transform: translateX(-0.85rem) scale(1.3rem);
	}

	99% {
		transform: translateX(-0.85rem) scale(1.3rem);
		opacity: 100%;
	}
}
