/* ----------------------------------- Global Fonts ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;700;900&family=Titillium+Web:wght@200;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;700;900&family=Titillium+Web:wght@200;300;400;700&display=swap");

/* ---------------------------------- Global Variables -------------------------- */
:root {
	--media-query--font-margin-left: 4rem;
	--media-query--font-margin-right: 6rem;
	--media-query--font-size: 100%;
	--media-query--font-color: #0e0e0d;
}

/* ----------------- Global tiny highlight to increase legibility --------------- */
* {
	color: var(--media-query--font-color);
	text-shadow: 0px 2px 10px rgba(231, 226, 226, 0.527);
	text-shadow: 2px 0px 10px rgba(245, 240, 240, 0.342);
}

/* -------------------------- Responsive Design --------------------------------- */

/* --------------------------- Sizing etc ---------------------------------------- */
h1,
h2,
.title,
p,
.p-strong {
	letter-spacing: 2px;
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	text-align: center;
	line-height: 1.45rem;
	margin-left: var(--media-query--font-margin-left);
	margin-right: var(--media-query--font-margin-right);
}

p {
	font-size: var(--media-query--font-size);
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	margin-top: 0.2rem;
	margin-left: var(--media-query--font-margin-left);
	margin-right: var(--media-query--font-margin-right);
	padding: 2px;
}
h2 {
	margin: 2rem;
	font-size: 1.3rem;
	font-weight: 600;
}

.title {
	padding-bottom: 0.35rem;
	font-size: 5rem;
	line-height: 4.6rem;
	margin: 0 auto;
}

h1 {
	font-size: calc(0.7rem + var(--media-query--font-size));
	/* padding: 0.25rem; */
}

.p-strong {
	font-size: calc(0.1rem + var(--media-query--font-size));
	line-height: 1rem;
	margin-top: 1rem;
	margin-left: var(--media-query--font-margin-left);
	margin-right: var(--media-query--font-margin-right);
}
