/* ----------------------------------- Global Fonts ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;700;900&family=Titillium+Web:wght@200;300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;700;900&family=Titillium+Web:wght@200;300;400;700&display=swap");

/* ---------------------------------- Global Variables -------------------------- */
:root {
	--media-query--font-margin-left: 4rem;
	--media-query--font-margin-right: 6rem;
	--media-query--font-color: #0e0e0d;
	font-size: 12px;
}

/* ----------------- Global tiny highlight to increase legibility --------------- */
* {
	color: var(--media-query--font-color);
	text-shadow: 0px 2px 10px rgba(231, 226, 226, 0.527);
	text-shadow: 2px 0px 10px rgba(245, 240, 240, 0.342);
}

a {
	text-decoration: none;
}
/* -------------------------- Responsive Design --------------------------------- */

/* --------------------------- Sizing etc ---------------------------------------- */
h1,
h2,
.title,
p,
.p-strong {
	letter-spacing: 2px;
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	text-align: center;
	line-height: 1.45rem;
}

p {
	font-size: clamp(1rem, 0.5vw + 1rem, 1.833rem);
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	text-align: left;
	/* margin-top: 0.2rem; */
	/* padding: 2px; */
}
h1 {
	font-size: clamp(1.083rem, 1vw + 1rem, 2.167rem);
	line-height: 2.25rem;
}
h2 {
	margin: 2rem;
	font-size: clamp(2rem, 1vw + 1rem, 4rem);
	font-weight: 600;
}
h3 {
	/* margin: 2rem; */
	font-size: clamp(1rem, 0.5vw + 1rem, 1.233rem);
	font-weight: 600;
}

.title {
	padding-bottom: 0.35rem;
	font-size: 5rem;
	line-height: 4.6rem;
	margin: 0 auto;
}

.p-strong {
	font-size: calc(0.1rem + var(--media-query--font-size));
	line-height: 1rem;
	margin-top: 1rem;
}

.break {
	color: rgba(29, 28, 28, 0.685);
	text-shadow: none;
}
@media (max-width: 1024px) {
	:root {
		--media-query--content-left-right-margin: 12rem;
	}
}
