/* -------------------------------- Main Variables ----------------------------- */
:root {
	--media-query-background-gradient: linear-gradient(
		45deg,
		rgb(153, 146, 91),
		rgb(119, 116, 92),
		rgb(119, 118, 111),
		rgb(65, 63, 65),
		rgb(64, 59, 64),
		rgb(89, 76, 91),
		rgb(134, 104, 138),
		rgb(141, 53, 173),
		rgb(196, 34, 182),
		rgb(220, 107, 7),
		rgb(255, 120, 1)
	);
	--media-query-flex-direction--footer: row;
	--media-query--footer-item-button-rotation: rotateZ(-3.6deg) scale(1.3) translateX(0em) translateY(-0.4rem);
	--media-query--footer-height: 18vh;
	--footer-font-size: 0.8rem;
	--footer-padding: 1.35rem;
	--footer-button-margin: 0.35rem;
	--footer-line-height: 1.2rem;
	--footer-flex-align-items: stretch;
}

/* ------------------------ change footer depending on resolution -------------- */
@media (max-width: 1024px) {
	:root {
		--media-query-flex-direction--footer: column;
		--media-query--footer-item-button-rotation: rotateZ(2.6deg) scale(1.3) translateX(-1rem);
		--media-query--footer-height: 56vh;
		--footer-flex-align-items: flex-end;
	}
}

/* ------------------------------ Main settings -------------------------------- */
footer {
	position: sticky;
	bottom: -8px;
	right: 2vw;
	padding: 1rem;
	display: flex;
	flex-direction: var(--media-query-flex-direction--footer);
	align-items: var(--footer-flex-align-items);
	justify-content: flex-end;
	/* overflow: hidden; */
}
/* ------------------------- stuff inside the footer container ------------------*/
.footer-item1,
.footer-item2,
.footer-item3,
.footer-item4,
.footer-link {
	color: var(--theme--light--color-cta-alt);
	width: fit-content;
	background-color: black;
	letter-spacing: 5px !important;
	font-size: var(--footer-font-size);
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 0.2rem;
	padding: 5px;
}

.footer-item1 {
	transform: rotateZ(0.65deg);
	text-shadow: none;
}
.footer-item2 {
	transform: rotateZ(-0.43deg) scale(1.03);
	text-shadow: none;
}

.footer-item3 {
	transform: rotateZ(0.1deg) scale(1.3);
	text-shadow: none;
}

.footer-item4 {
	transform: rotateZ(-0.5deg) scale(1.3);
	color: var(--theme--light--color-cta-alt);
	z-index: 6;
	text-shadow: none;
}
.footer-item-button {
	transform: var(--media-query--footer-item-button-rotation);
	/* transform: translateY(10px); */
	z-index: 5;
}
button {
	border: none;
}

.footer-button {
	margin: var(--footer-button-margin);
	padding: var(footer-padding);
	border-radius: 10px;
	transform: rotateZ(0.2deg) scale(1.5);
	background-color: var(--theme--light--color-cta-alt);
	box-shadow: 0px 0px 2px rgb(0, 0, 0);
	color: black;
	line-height: var(--footer-line-height);
	font-size: var(--footer-font-size);
	--footer-button-margin: 0.1rem;
}
