/* https://www.youtube.com/watch?v=BT7FZooiqWw */
/* styling for radio buttons */

:root {
	--a-form-transition: all ease-in-out 150ms;
	--total-sum: 1000;
}
[type="radio"],
[type="checkbox"],
[type="radio_lunch"] {
	opacity: 0;
	display: hidden;
}

[type="radio"] + label,
[type="checkbox"] + label,
[type="radio_lunch"] + label {
	position: relative;
	cursor: pointer;
	display: inline-block;
	/* color: red; */
}

[type="radio"] + label::before,
[type="checkbox"] + label::before,
[type="radio_lunch"] + label::before {
	content: "";
	position: absolute;
	width: 1.65rem;
	height: 1.65rem;
	border-radius: 30%;

	border: 1px solid black;
	box-shadow: inset 1px 1px 3px #cccccc57;
	background-color: rgba(204, 199, 199, 0.315);

	margin-left: -2rem;
	left: 5rem;

	top: 25%;
}

[type="radio"]:checked + label::before,
[type="checkbox"]:checked + label::before,
[type="radio_lunch"]:checked + label::before {
	content: "";
	border: 1px solid black;
	transform: scale(1.1);
}

[type="radio"]:checked + label::after,
[type="checkbox"]:checked + label::after,
[type="radio_lunch"]:checked + label::after {
	content: "✓";
	position: absolute;
	left: 3.3rem;
	top: 0.25rem;
	font-size: 1.85rem;
	font-weight: 900;
	color: black;
	opacity: 1;
	scale: 1;
	transition: var(--a-form-transition);
}

/* when radio is unchecked */
[type="radio"]:not(:checked) + label::after,
[type="checkbox"]:not(:checked) + label::after,
[type="radio_lunch"]:not(:checked) + label::after {
	content: "✓";
	position: absolute;
	left: 3.3rem;
	top: 0.25rem;
	font-size: 1.85rem;
	font-weight: 900;
	color: black;
	opacity: 1;
	scale: 0;
}

.preferred-lunch {
	padding-top: 1rem;
}
.get-lunch {
	display: in-line flex;
	align-items: center;
	/* padding-left: 2.25rem; */
	/* scale: 0.9; */
}

.have-allergies {
	opacity: 0;
	max-height: 0px;
	transition: var(--a-form-transition);
}

#have_allergies:checked ~ .input-allergies {
	opacity: 1;
	max-height: 400px;
	transition: var(--a-form-transition);
}

#prefer-lunch:checked ~ .type-of-lunch {
	max-height: 1080px;
	opacity: 1;
	transition: var(--a-form-transition);
}

.type-of-lunch {
	padding: 1rem;
	opacity: 0;
	max-height: 0px;
	transition: var(--a-form-transition);
}

#three-day-pass:checked ~ label,
#two-day-pass:checked ~ label,
#one-day-pass:checked ~ label {
	font-weight: 600;
	--total-sum: 556;
}

.radio-button {
	flex-direction: column;
	cursor: pointer;
	flex-wrap: nowrap;
	margin-bottom: 0.5rem;

	border: 1px dashed rgba(0, 0, 0, 0.199);
	border-radius: 10px;
}

.radio-button-lunch {
	border: none;
}

.order-now {
	text-align: center;
	width: 180px;
	padding: 1rem;
	border-radius: 10px;
	background-color: rgba(204, 199, 199, 0.315);
	color: black;
	/* border: 1px solid black; */
	border: 2px solid rgba(0, 0, 0, 0.507);
	box-shadow: var(--footer-button-box-shadow);
	font-size: var(--footer-font-size);
}

fieldset {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	border-radius: 30px;
	background-color: rgba(187, 141, 15, 0.78);
	backdrop-filter: blur(2px);
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: var(--box-shadow-generic);
	z-index: 9999999;
}

fieldset > div {
	width: 320px;
	margin-bottom: 1rem;
	display: flex;
	flex-flow: row wrap;
}

label,
input {
	display: block;
	font-family: "Rubik" sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	height: 30px;
}

.validator {
	text-align: center;
}

.input-form {
	min-width: 224px;
}

input {
	padding: 1rem;
	box-shadow: inset 1px 1px 3px #cccccc57;
	border-radius: 5px;
	background-color: rgba(204, 199, 199, 0.315);
}

input:hover,
input:focus {
	border: 1px dashed black;
	background-color: #e6dfdf6b;
	box-shadow: inset 1px 1px 3px #cccccc57;
	border: 2px rgb(151, 147, 147);
}

input + .validator {
	position: relative;
	transform: translateX(-2rem) translateY(-0.25rem);
}

input + .validator::before {
	position: absolute;
}

input:valid {
	background-color: rgba(204, 199, 199, 0.315);
	box-shadow: inset 1px 1px 3px #cccccc57;
}

input:invalid,
input:valid {
	border: 1px solid black;
}

input:invalid + .validator::before {
	content: "✖";
	font-size: 2rem;
	color: red;
	text-shadow: 0px 0px 1px black;
}

input:valid + .validator::before {
	content: "✓";
	font-size: 2rem;
	color: green;
	text-shadow: 0px 0px 4px rgb(177, 170, 170);
}
