.container--form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container--modal {
	position: absolute;
	display: flex;

	/* center modal */
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	transform: translateY(-50%);

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.256);
	z-index: 99999999;
	backdrop-filter: opacity(0.5) blur(2px);
	opacity: 0.95;
	/* visibility: hidden; */
	overflow-y: hidden;
}

.form--input {
	background-color: pink;
	border: 1px black solid;
	padding: 1rem;
}

.modal-3days,
.modal-2days,
.modal-1days {
	position: absolute;

	/* center modal */
	left: 0;
	right: 0;
	top: 50%;
	margin: auto;
	transform: translateY(-50%);

	width: 300px;
	height: 300px;
	background-color: rgba(131, 126, 126, 0.952);
	/* background-color: rgba(255, 255, 255, 0.085); */
	border-radius: 10px;
	/* border: 1px dashed black; */
	padding: 1rem;
}

.ticket-price {
	padding: 0px;
	margin: 2rem;
}

.ticket-price-button {
	background-color: white;
}

.spacer-ticket {
	/* width: auto; */
	margin: auto;
	height: 1px;
	border: 1px dashed rgba(0, 0, 0, 0.507);
}
.container--ticket-price {
	margin: 2rem;
	/* width: 365px; */
	background-color: rgba(105, 75, 75, 0.123);
	border: 1px dashed rgba(0, 0, 0, 0.507);
	border-radius: 30px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);
	padding: 1rem;
	margin-bottom: 4rem;
}
