:root {
	--form-get-ticket-flex-dir: row;
	--box-shadow-generic: 0px 0px 8px rgba(0, 0, 0, 0.274);
}

.container--tickets {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container--ticket-price,
.full-pass {
	position: relative;
	margin: 2rem;
	box-shadow: var(--box-shadow-generic);
	background-color: var(--theme--light--color-cta-alt);
	border: 1px solid rgba(0, 0, 0, 0.507);
	border-radius: 30px;
	padding: 1rem;
	margin-bottom: 4rem;
	z-index: 999999999;
}

.text--ticket-price {
	padding: 0px;
	margin: 2rem;
}

.spacer-ticket {
	/* width: auto; */
	margin: auto;
	height: 1px;
	border: 1px dashed rgba(0, 0, 0, 0.507);
}

.form-get-ticket {
	display: flex;
	flex-direction: column;
	/* flex-direction: var(--form--get-ticket-flex-dir); */
	justify-content: center;
	align-items: center;
	background-color: var(--theme--light--color-cta-alt);
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: var(--box-shadow-generic);
	/* width: 200px; */
	height: 40px;
}

.form-item {
	/* padding: 1rem; */
	/* border: 1px solid pink; */
}

.full-pass {
	background-color: var(--theme--light--color-cta-alt);
	color: #222;
	border: 1px solid black;
	border-radius: 10px;
	/* border-radius: 0.25rem; */
	padding: 2rem;
}

@media (max-width: 1024) {
	:root {
		--form-get-ticket-flex-dir: column;
	}
}
