.container--form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container--modal {
	position: relative;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.085);
	/* background-color: rgba(255, 255, 255, 0.534); */
	border-radius: 10px;
	border: 1px black dashed;
}

.form--input {
	background-color: pink;
	border: 1px black solid;
	padding: 1rem;
}

.modal-3days,
.modal-2days,
.modal-1days {
	/* border: 1px dashed black; */
	padding: 1rem;
}

.ticket-price {
	padding: 0px;
	margin: 2rem;
}

.ticket-price-button {
	background-color: white;
}

.spacer-ticket {
	/* width: auto; */
	margin: auto;
	height: 1px;
	border: 1px dashed rgba(0, 0, 0, 0.507);
}
.container--ticket-price {
	margin: 2rem;
	/* width: 365px; */
	background-color: rgba(105, 75, 75, 0.123);
	border: 1px dashed rgba(0, 0, 0, 0.507);
	border-radius: 30px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);
	padding: 1rem;
	margin-bottom: 4rem;
}
