:root {
	--media-query--resolution--padding: 4rem;
	--media-query--container-height: 100vh;
	--media-query--content-left-right-margin: 4rem;
	--theme--light-color-bg: #333333;
	--theme--light--color-font: rgb(53, 51, 51);
	--theme--light--color-font-alt: rgb(84, 82, 82);
	--theme--light--color-cta: rgb(6, 194, 169);
	--theme--light--color-cta-alt: rgb(213, 137, 76);

	--backdrop-filter--hue-rotate: -120deg;

	::-webkit-scrollbar {
		display: none;
	}
}
* {
	box-sizing: border-box;
}

* {
	scroll-behavior: smooth;
}
body {
	background-image: url(../../Images/3_col_bg_1600x900.svg);
	animation: a-slide_bg 20s linear infinite alternate;
	background-size: cover;
	overflow: hidden;
	margin: unset;
}

/* ------------------------------------- Hue rotator -------------------- */
.container {
	display: flex;
	flex-direction: column;
	animation: a-backdrop-filter-hue-rotate 120s linear infinite alternate;
	width: 100vw;
}

header {
	position: sticky;
	top: 0px;
	transform: translateY(-2.5rem) translateX(-2.5rem);
	z-index: 5;
}

/* ----------------------------- Main content here --------------------------------- */
main {
	overflow-y: auto;
	/* top: vh; */
	height: calc(100vh - var(--media-query--resolution--padding));
	position: sticky;
	margin: auto var(--media-query--content-left-right-margin);
	padding-left: var(--media-query--resolution--padding);
	padding-top: var(--media-query--resolution--padding);
	padding-right: var(--media-query--resolution--padding);
	bottom: 8vh;
}

footer {
	z-index: 99999;
}

.tm {
	content: "\2122";
}

.main-wrapper {
	z-index: 99999999;
}

/* ------------------------------ Animations --------------------------------------- */

@keyframes a-slide_bg {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 3200px 0px;
	}
}

/* @keyframes a-backdrop-filter-sepia {
	0% {
		backdrop-filter: sepia(0);
	}
	50% {
		backdrop-filter: sepia(55%);
	}
	100% {
		backdrop-filter: sepia(0%);
	}
} */

@keyframes a-backdrop-filter-hue-rotate {
	0% {
		backdrop-filter: hue-rotate(0deg);
	}
	50% {
		backdrop-filter: var(--backdrop-filter--hue-rotate);
		backdrop-filter: hue-rotate(var(--backdrop-filter--hue-rotate));
	}
	100% {
		backdrop-filter: hue-rotate(0deg);
	}
}
