:root {
	--media-query--resolution--padding: 4em;
	--media-query--container-height: 100vh;
	/* --media-query-font-size:  */

	--theme--light-color-bg: #333333;
	--theme--light--color-font: rgb(53, 51, 51);
	--theme--light--color-font-alt: rgb(84, 82, 82);
	--theme--light--color-cta: rgb(6, 194, 169);
	--theme--light--color-cta-alt: rgb(213, 137, 76);

	::-webkit-scrollbar {
		display: none;
	}
}

/* medium resolution */
@media (max-width: 1000px) {
	:root {
		--media-query--container-height: 126vh;
	}
}
@media (max-width: 650px) {
	:root {
		--media-query--resolution--padding: 0em;
	}
}

/* small resolution */
@media (max-width: 395px) {
	:root {
		--media-query--resolution--padding: 0.25em;
	}
}
body {
	background-image: url(/Resources/Images/stacked-waves-haikei_pink_orange_looping_blurred.svg);
	background-size: 300%;
	width: 100%;
	animation: a-slide_bg 100s linear infinite;
	margin: auto;
	/* overflow: hidden; */
}

.container {
	display: flex;
	flex-direction: column;
	animation: a-backdrop-filter-hue-rotate 90s ease-in-out infinite alternate;
	padding: 0px;
	width: 100vw;
	/* height: 100vh; */
	height: var(--media-query--container-height);
}

.spacer {
	/* width: 90%; */
	margin: 0 auto;
	padding: 1em;
	/*transform:translateX(-5vw)*/
	height: 1px;
	/* background-color: rgba(24, 23, 23, 0.322); */
	/* box-shadow: 0px 0px 2px black; */
	/* border: 5px black solid; */
	z-index: 9999999;
}

header {
	top: 1em;
	padding-bottom: 1em;
}

footer {
	bottom: 0px;
}

/* ----------------------------- Main content here --------------------------------- */
main {
	overflow-y: auto;
	height: 80vh;
	padding-left: var(--media-query--resolution--padding);
	padding-top: var(--media-query--resolution--padding);
	padding-right: var(--media-query--resolution--padding);
	/* flex-grow: 1; */
}

/* ------------------------------ Animations --------------------------------------- */

@keyframes a-slide_bg {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 3999px 0px;
	}
}

/* @keyframes a-backdrop-filter-sepia {
	0% {
		backdrop-filter: sepia(0);
	}
	50% {
		backdrop-filter: sepia(55%);
	}
	100% {
		backdrop-filter: sepia(0%);
	}
} */

@keyframes a-backdrop-filter-hue-rotate {
	0% {
		backdrop-filter: hue-rotate(0deg);
	}
	50% {
		backdrop-filter: hue-rotate(360deg);
	}
	100% {
		backdrop-filter: hue-rotate(0deg);
	}
}
