:root {
	/* light theme */
	--theme--light-color-bg: rgb(33, 33, 33);
	--theme--light--color-font: rgb(53, 51, 51);
	--theme--light--color-font-alt: rgb(84, 82, 82);
	--theme--light--color-cta: rgb(194, 90, 6);
	--theme--light--color-cta-alt: rgb(213, 137, 76);

	--media-query-flex-dir-main: row;
}

::-webkit-scrollbar {
	width: 6px;
	background: var(--theme--light--color-cta);
}
::-webkit-scrollbar-thumb {
	/* width: 12px; */
	background: var(--theme--light--color-cta);
	border: 1px solid rgba(228, 223, 223, 0.315);
}

*/ html {
	scroll-behavior: smooth;
}
body {
	margin: unset;
	padding: 0px;
	color: var(--theme--light--color-font);
	background-image: url(/Resources/Images/pink_orange_bg_looping.svg);
	animation: a-slide_bg 100s linear infinite;
}

.magic-color-me {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	animation: a-backdrop-filter-sepia 10s ease-in-out infinite alternate;
	animation: a-backdrop-filter-contrast 9s ease-in-out infinite alternate;
}

.top-content-bottom {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 4fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.logo {
	border: 1px black solid;
	border-radius: 20px;
	height: fit-content;
	width: fit-content;
	margin: 1em;
	/* grid-row-start: 1; */
	/* grid-row-end: 1; */
}

@keyframes a-slide_bg {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 3999px 0px;
	}
}

@keyframes a-backdrop-filter-sepia {
	0% {
		backdrop-filter: sepia(0);
	}
	50% {
		backdrop-filter: sepia(55%);
	}
	100% {
		backdrop-filter: sepia(0%);
	}
}

@keyframes a-backdrop-filter-contrast {
	0% {
		backdrop-filter: hue-rotate(0deg);
	}
	50% {
		backdrop-filter: hue-rotate(360deg);
	}
	100% {
		backdrop-filter: hue-rotate(0deg);
	}
}

header {
	margin-top: 2em;
	position: sticky;
	top: 1em;
}

p,
h2 {
	padding: 1em;
	font-family: "Titillium Web", sans-serif;
	color: var(--theme--light--color-font);
}

p {
	font-size: 36px;
}

h2 {
	font-weight: 900;
	font-size: 56px;
}
