/* Header */

/* Main Content */

/* 1000px or higher than */
@media (min-width: 1000px) {
	:root {
		--media-query--font-margin-left: 8rem;
		--media-query--font-margin-right: 8rem;
	}
}
@media (max-width: 999px) {
	:root {
		--media-query--font-margin-left: 5rem;
		--media-query--font-margin-right: 5rem;
	}
}
@media (max-width: 680px) {
	:root {
		--media-query--font-margin-left: -4rem;
		--media-query--font-margin-right: 5rem;
	}
}

@media (min-width: 380px) {
	:root {
		--logo-letter-spacing: 0.18rem;
	}
}

@media (max-width: 380px) {
	:root {
		--logo-placement: rotateZ(-1deg) translateY(-2.46rem) translateX(4rem);
		--font-size-logo: 1rem;
		--logo-letter-spacing: 0.23rem;
		--logo-line-height: 0.5rem;
		--media-query--font-margin-left: -4rem;
		--media-query--font-margin-right: 5rem;
		--footer-font-size: 0.6rem;
		--footer-padding: 1.65rem;
		--footer-line-height: 0.65rem;
	}
}

/* Footer */
