/* Header */

/* Main Content */

/* 1000px or higher than */
@media (min-width: 1600px) {
	:root {
		--media-query--content-left-right-margin: 22rem;
	}
}

@media (max-width: 1024px) {
	:root {
		--media-query--content-left-right-margin: 12rem;

		--media-query--schedule-flex-direction: column;
		
	}
}

/* Footer */
