/* Header */

/* Main Content */

/* 1000px or higher than */
@media (min-width: 1600px) {
	:root {
		--media-query--content-left-right-margin: 22rem;
	}
}

@media (max-width: 1024px) {
	:root {
		/* schedule */
		/* header */
		/* --media-query--logo-line-height: 1.25rem; */
		/* --media-query--logo-placement: rotateZ(-1deg) translateY(-4.7rem)
			translateX(3.6rem); */
		/* footer */
		--media-query-flex-direction--footer: column;
		--media-query--footer-height: 56vh;
		--media-query--footer-flex-align-items: flex-end;
		--media-query--footer-item-button-rotation: rotateZ(2.6deg) scale(1.3)
			translateX(-1rem);
		--media-query--footer-translate-x: translateX(3rem);
		--media-query--footer-translate-y: translateY(-0.5rem);
		/* main */
		--media-query--content-left-right-margin: 12rem;

		--media-query--schedule-flex-direction: column;
	}
}

/* Footer */
